.carousel {
    padding: 2rem 0;
}


.carousel img {
    height: 90vh;
    object-fit: cover;
}

.thumbs-wrapper, .carousel-status {
    display: none;
}

.control-dots {
    display: flex;
    justify-content: center;
    margin: 1rem;
    flex-direction: row;
}
